[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
tabula-py = "*"
pandas = "*"
yfinance = "*"
numpy = "*"
scikit-learn = "*"
mlflow = "*"
hyperopt = "*"
scipy = "*"
prefect = "*"
flask = "*"
gunicorn = "*"
evidently = "*"

[dev-packages]
pylint = "*"
black = "*"
isort = "*"
ipykernel = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
